__pycache__/
.coverage
coverage.xml
.DS_Store
.pytest_cache/
.python-version
node_modules
tmp
.vscode
.env*
.idea
*.pyc
.ipynb*
atlas_sees.egg-info
build
dist
*.gz
*.csv
*.xlsx
.log
.data
pip.conf
.pip/
.aws/
# Local cache for Soil Metrics auth
*.sqlite

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
test_results
*.save
*.png

# For output of `pytest --cov=. --cov-report=html`:
.coverage.*

# For mypy caching
.mypy_cache
