# SQL scripts for demo database
include pcse/db/pcse/pcse_dump.sql

# Model configuration files
include pcse/conf/FAO_WRSI.conf
include pcse/conf/Lingra_NWLP_FD.conf
include pcse/conf/Lingra_PP.conf
include pcse/conf/Lingra_WLP_FD.conf
include pcse/conf/Lintul3.conf
include pcse/conf/Wofost72_Pheno.conf
include pcse/conf/Wofost72_PP.conf
include pcse/conf/Wofost72_WLP_FD.conf
include pcse/conf/Wofost80_NWLP_FD.conf
include pcse/conf/Wofost80_PP.conf
include pcse/conf/Wofost80_WLP_FD.conf
include pcse/conf/Indigo_Wofost.conf

# Simulator Resources
include pcse/simulator/resources/wofost_crop_parameters/*.yaml
include pcse/simulator/resources/*.yaml
include pcse/simulator/resources/wofost_npk.site
