version: 2.1
orbs:
  shared: indigo/shared@volatile

references:
  pip_cache_key: &pip_cache_key pip-3.9-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt"}}

  save_pip_local_env: &save_pip_local_env
    shared/save_venv_cache:
      cache_key: *pip_cache_key
      cache_version: v2

  restore_pip_local_env: &restore_pip_local_env
    shared/restore_venv_cache:
      cache_key: *pip_cache_key
      cache_version: v2

jobs:
  lint:
    working_directory: ~/circleci
    resource_class: small
    executor:
      name: shared/language-executor
      language: python
      version: '3.9'
    steps:
      - checkout
      - shared/restore_node_modules
      - shared/install_deps:
          enable_code_artifact: true
      - *restore_pip_local_env
      - shared/setup_local_env_install_requirements
      - shared/setup_local_env_install_requirements:
          requirements_file_location: requirements-dev.txt
          enable_pip_oct_2020_resolver: true
      - *save_pip_local_env
      - run:
          name: Lint
          command: |
            . local-env/bin/activate
            yarn lint

#  test:
#    parameters:
#      num_pytest_workers:
#        type: integer
#        default: 2
#      save_workspace_cache:
#        type: boolean
#        default: true
#    working_directory: ~/circleci
#    resource_class: small
#    executor:
#      name: shared/language-executor
#      language: python
#      version: '3.9'
#    steps:
#      - checkout
#      - shared/restore_node_modules
#      - shared/install_deps:
#          enable_code_artifact: true
#      - shared/save_yarn_cache
#      - *restore_pip_local_env
#      - shared/setup_local_env_install_requirements
#      - *save_pip_local_env
#      - shared/configure_aws_env
#      - when:
#          condition: << parameters.save_workspace_cache >>
#          steps:
#            - shared/save_workspace_cache

  release:
    working_directory: ~/circleci
    resource_class: small
    executor:
      name: shared/language-executor
      language: python
      version: '3.9'
    steps:
      - attach_workspace:
          at: ~/circleci
      - shared/semantic_release_publish

workflows:
  version: 2
  build_test_and_deploy:
    jobs:
      - lint:
          context: org-global
          filters:
            branches:
              ignore:
                - main
#      - test:
#          # Name should be unique for jobs using parameters, otherwise would get `test-1`
#          # https://discuss.circleci.com/t/dash-number-being-appended-to-job/38385
#          # https://circleci.com/docs/2.0/reusing-config/#authoring-parameterized-jobs
#          name: unit_tests
#          save_workspace_cache: false
#          context: org-global
      - release:
          context: org-global
#          requires:
#            - test
          filters:
            branches:
              only:
                - main
