version: 2.1
orbs:
  shared: indigo/shared@volatile

commands:
  install_package_and_deps:
    steps:
      - shared/restore_venv_cache:
          cache_key:
            &pip_cache_key '{{ checksum "setup.py" }}-{{ checksum "requirements.txt" }}-{{ checksum
            "requirements-dev.txt" }}}'
      - shared/run_pip_install:
          pip_install_args: pip-tools
          venv_folder: local-env
          enable_pip_oct_2020_resolver: true
      - run:
          name: Install dependencies
          # pip-tools 7.5.1 is not compatible with pip 25.3
          # https://github.com/jazzband/pip-tools/issues/2252
          command: |
            . local-env/bin/activate
            pip install "pip<25.3"
            pip-sync requirements-dev.txt
            pip install -e .[dev,all]
      - shared/save_venv_cache:
          cache_key: *pip_cache_key

jobs:
#  test:
#    parameters:
#      python_version:
#        type: string
#    executor:
#      name: shared/language-executor
#      language: python
#      version: << parameters.python_version >>
#    resource_class: small
#    steps:
#      - checkout
#      - install_package_and_deps
#      - run:
#          name: Run tests
#          command: |
#            . local-env/bin/activate
#            yarn test --cov-report=xml --cov=src --junitxml=test-results/junit.xml
#      - store_test_results:
#          path: test-results
#      - shared/verify_python_package

  lint:
    executor:
      name: shared/language-executor
      language: python
      version: '3.10'
    resource_class: small
    steps:
      - checkout
      - install_package_and_deps
      - run:
          name: Linting
          command: |
            . local-env/bin/activate
            yarn lint

  release:
    executor:
      name: shared/language-executor
      language: python
      version: '3.10'
    resource_class: small
    steps:
      - checkout
      - shared/semantic_release_publish

workflows:
  version: 2
  build_and_test:
    jobs:
#      - test:
#          context: org-global
#          matrix:
#            parameters:
#              python_version:
#                - '3.10
      - lint:
          context: org-global
          filters:
            branches:
              ignore:
                - master
      - release:
          context: org-global
          filters:
            branches:
              only:
                - master
